// remove all padding and margin from html.
html,
body {
	padding: 0;
	margin: 0;
}

// 100% of viewport height for the page class. 
.page {
	min-height: 100vh;
}

section {
	padding: 75px 5%;
	width: 100vw;
}

@media screen and (min-width: 1200px) {
	section {
		padding: auto 20%;
	}
}

@media screen and (max-width: 1200px) {
	section {
		padding: auto 5%;
	}
}

@media screen and (max-width: 576px) {
	section {
		padding: auto 0;
	}
}

.page section:nth-of-type(odd) {
	background-color: white;
}

.page section:nth-of-type(even) {
	background-color: #fafafa;
}

.board {
	// the background color of the board.
	$background: #e1d8c7;
	// the boarder of the board.
	$border: #666666;
	// the color of the start square.
	$start: #c86c03;
	// the color of double letter squares.
	$double-letter: #628e7c;
	// the color of triple letter squares.
	$triple-letter: #eb6c5d;
	// the color of double word squares.
	$double-word: #c76a00;
	// the color of triple word squares.
	$triple-word: #9b6464;
	// the color hovered squares.
	$hover: #c9c9c9;

	// fixed square dimensions, side length 60% of viewport height.
	width: min(calc(90vh - 60px), 90vw);
	height: min(calc(90vh - 60px), 90vw);

	text-align: center;
	margin: auto;

	.square {
		background-color: $background;
		// displays squares on the same row.
		float: left;
		// height and width are (100/15)% of the height of the board.
		height: calc(100% / 15);
		width: calc(100% / 15);
		// Add a 1px outline to each square.
		outline: 1px solid $border;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		user-select: none;
	}

	.square:hover,
	.square:active {
		background-color: $hover;
	}

	.start {
		background-color: $start;
	}

	.double-letter {
		background-color: $double-letter;
	}

	.triple-letter {
		background-color: $triple-letter;
	}

	.double-word {
		background-color: $double-word;
	}

	.triple-word {
		background-color: $triple-word;
	}
}

@keyframes tile-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.scrabble-tile {
	height: 78%;
	width: 72%;
	background-color: white;
	border-radius: 15%;
	position: relative;
	text-align: center;
	box-shadow: 0 6px;
	margin-bottom: 6px;
	animation-name: tile-fade-in;
	animation-duration: 2s;
	display: inline-block;

	.letter {
		font-size: 3.5vw;
		transform: translate(0, -12%);
	}

	.score {
		font-size: 1.5vw;
		position: absolute;
		bottom: 0;
		right: 4px;
	}
}

.rack {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	column-gap: 20px;
	padding: 20px;
	background-color: black;
}

.rack>* {
	width: 40px;
	height: 48px;
}