// remove all padding and margin from html.
html,
body {
	padding: 0;
	margin: 0;
}

.create-game .box {
	min-width: 250px;
}

// 100% of viewport height for the page class. 
.page {
	min-height: 100vh;
}

section {
	padding: 75px 5%;
	width: 100vw;
}

@media screen and (min-width: 1200px) {
	section {
		padding: auto 20%;
	}
}

@media screen and (max-width: 1200px) {
	section {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media screen and (max-width: 576px) {
	section {
		padding-left: 0;
		padding-right: 0;
	}
}

.page section:nth-of-type(odd) {
	background-color: white;
}

.page section:nth-of-type(even) {
	background-color: #fafafa;
}

.board {
	// the background color of the board.
	$background: #e1d8c7;
	// the boarder of the board.
	$square-border: white;
	// the color of the start square.
	$start: #c86c03;
	// the color of double letter squares.
	$double-letter: #628e7c;
	// the color of triple letter squares.
	$triple-letter: #eb6c5d;
	// the color of double word squares.
	$double-word: #c76a00;
	// the color of triple word squares.
	$triple-word: #9b6464;
	// the color hovered squares.
	$hover: #c9c9c9;
	// the outline of the board.
	$border: black;

	// fixed square dimensions, side length 60% of viewport height.
	width: min(80vh, 98vw);
	height: min(80vh, 98vw);

	margin: 0 auto 5px;
	outline: 5px solid black;
	outline-offset: -1px;

	.square {
		background-color: $background;
		// displays squares on the same row.
		float: left;
		// height and width are (100/15)% of the height of the board.
		height: calc(100% / 15);
		width: calc(100% / 15);
		// Add a 1px border to each square.
		outline: 0.5px solid $square-border;
		outline-offset: -0.5px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		user-select: none;
	}

	.scrabble-tile {
		animation: tile-fade-in 0.5s;
	}

	.square:hover,
	.square:active {
		background-color: $hover;
	}

	.start {
		background-color: $start;
	}

	.double-letter {
		background-color: $double-letter;
	}

	.triple-letter {
		background-color: $triple-letter;
	}

	.double-word {
		background-color: $double-word;
	}

	.triple-word {
		background-color: $triple-word;
	}
}

@keyframes tile-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.is-fullheight {
	height: 100vh;
}

.live {
	background-color: #383838;

	.chat {
		background-color: white;
		padding: 10px 2%;

		.chatbox {
			flex-direction: column-reverse;

			.msg {
				margin: 5px 10%;
				display: block;

				.tag {
					margin-right: 5px;
				}
			}
		}
	}

	.rack {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		column-gap: min(3%, 40px);
		padding: min(2%, 20px);
		background-color: darkgreen;

		div {
			width: 6%;
			min-width: 45px;
			max-width: 80px;

			cursor: pointer;
			user-select: none;
		}
	}
}